@page "/products"
@using Logistic.Data
@inject ProductService productServive

<h3>Products</h3>

@code {
    List<Product> allProducts;

    protected override async Task OnInitializedAsync()
    {
        return base.OnInitializedAsync()
    }


}
